<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/vroom.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.0/plugins/CSSPlugin.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.0/easing/EasePack.min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.0/TweenLite.min.js"></script>
	<script type="text/javascript" src="/javascripts/vroom.js"></script>
	<script type="text/javascript" src="/javascripts/web-socket.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCip8Cpx_evSkbz4cVfY4igR2ZJkX5eyso&libraries=places" async defer></script>
</head>
<body>
<div id="wrapper">
	<div id="speed-input">
		<div>
			<label for="miles">Miles:</label>
		    <input type="text" name="miles" id="miles">
		</div>

		<div>
		    <label for="kilometers">Kilometers:</label>
		    <input type="text" name="kilometers" id="kilometers">
		</div>

		<div>
		    <label for="rpm">RPM:</label>
		    <input type="text" name="rpm" id="rpm">
		</div>

		<p id="errmsg"></p>
	</div>

	<div id="dashboard">

		<div id="rev-limiter-wrapper">
			<div id="gauge-wrapper">
				<div id="gauge-tachometer">
					<div id="circle-tachometer"></div>
					<div id="time"></div>
					<div id="needle-tachometer"></div>
				</div>
			</div>
		</div>

		<div id="dashboard-center">
			<div id="dashboard-fuel"></div>
			<div id="dashboard-comp-display">
				<img id="nav-loader" src="/images/spinner.mov.gif"/>
				<div class="map">
                    <div id="map_canvas" class="stores-map">
                    </div>
                </div>
                <input id="current-position-pin-image" type="hidden" value="/images/navigation-icon.png"/>
			</div>
		</div>

		<div id="speedometer-wrapper">
			<div id="gauge-wrapper">
				<div id="gauge">
					<div id="circle"></div>
					<div id="numbers">0</div>
					<div id="mi-km"></div>
					<div id="needle"></div>
				</div>
				<div id="display-mode">
					<form action="">
						<input type="radio" name="display-mode-radio" id="mi-radio" value="Miles" checked="checked"/>
						<label for="mi-radio">Miles</label>

						<input type="radio" name="display-mode-radio" id="km-radio" value="Kilometers"/>
						<label for="km-radio">Kilometers</label>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/javascripts/navigation.js"></script>

<script type="text/javascript">

  (function() {
		$(window).on('load', function () {
			navigation.init();
		});
  })();

</script>

</body>
</html>